
<!-- {{detailarr | json}}  -->
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{detailarr.userId}}</td>
                    <td>{{detailarr.id}}</td>
                    <td>{{detailarr.title}}</td>
                    <td>{{detailarr.body}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a routerLink="/post" class="btn btn-primary">Back </a>
        </div>
        </div>
    </div>
</div>
