<mat-card class="login-page">
    <mat-card-title>
        Login (Template-Driven) 
    </mat-card-title>
    <mat-card-content>
        <form class="login-form" #loginForm="ngForm">
            

           
            <mat-form-field>
                
                <input matInput type="email" name="email"
                ngModel
                #email="ngModel"
                required email 
                pattern="^[a-zA-Z0-9._%+-]+@codemindtechnology.com$"
                placeholder="Email">

                <mat-error *ngIf="email.errors?.required">The email is mandatory</mat-error>
                <mat-error *ngIf="email.errors?.pattern">
                   Enter Valid Domain like '******@codemindtechnology.com'</mat-error>
              </mat-form-field>
            
            
            <mat-form-field>
                <input matInput  ngModel  
                #password="ngModel" 
                 name="password" 
                 type="password" 
                 placeholder="Password" 
                 minlength="8" maxlength="20"
                 required >
                 <mat-error *ngIf="password.errors?.minlength">
                  your password must have minimum {{password.errors?.minlength.requiredLength}} chars,
                  but it only has {{password.errors?.minlength.actualLength}}.
                </mat-error>

            </mat-form-field>
      
          

              <select class="form-control" name="course" [ngModel]="defaultValue" >
                <option *ngFor="let course of courses"  value="{{course}}">{{course}}</option>
              </select>

              <!-- <mat-select [value]="selectedOption">
                <mat-option value="1">One</mat-option>
                <mat-option value="2">Two</mat-option>
              </mat-select> -->
              <div class="form-group" *ngFor="let gender of genders">

                <input type="radio" name="gender" id="gender" value="{{gender.value}}" [ngModel]="defaultGender"
                class="custom-control custom-radio">
                <label for="{{gender.id}}">{{gender.value}}</label>
              </div>
            <button  mat-raised-button color="primary" (click)="login(loginForm)">Login</button>
        </form>
        <div class="form-val">
            <!-- {{ loginForm.value | json}} -->
        </div>
    </mat-card-content>
</mat-card>

<div class="row justify-content-center mt2" *ngIf="isSubmitted">
  <div class="col-md-6 rounded shadow py-4">
    <h2>Form Data</h2>
    <p>Email: <strong>{{formData.email}}</strong></p>
    <p>Password: <strong>{{formData.password}}</strong></p>
    <p>Course: <strong>{{formData.course}}</strong></p>
    <p>Gender: <strong>{{formData.gender}}</strong></p>

  </div>
</div>
