
<div class="card" >
  <a routerLinkActive="active" routerLink="/productNew"  class="btn btn-success" >product</a>
    <img class="card-img-top" src="../../assets/images/mobile.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Redmi Note 11 (Space Black, 4GB RAM, 64GB Storage)|90Hz FHD+ 
        AMOLED Display | Qualcomm® Snapdragon™ 680-6nm | 33W Charger Included</p>
      <a routerLink="mobile" class="btn btn-primary">Mobile</a>
    </div>

