<!-- {{userarr | json}} -->
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{userarr.id}}</td>
                    <td>{{userarr.name}}</td>
                    <td>{{userarr.username}}</td>
                    <td>{{userarr.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a routerLink="/users" class="btn btn-primary">Back </a>
        </div>
        </div>
    </div>
</div>