<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
<!-- <h1>
    Welcome to {{ title }}! {{name}}
  </h1> -->
<!-- <app-practise [child]="parentToChild"></app-practise> -->
<!-- <button (click)="test1">Save</button>
   <button (click)="test2">Show</button> -->
<!-- <app-child-to-parent  (fromChild)="onParent($event)"></app-child-to-parent><br><br> -->
<!-- <app-child-to-parent  (objFromChild)="showAll($event)"></app-child-to-parent> -->
<!-- <app-test2 [child]="parentToChild"></app-test2>>
  <h1>
   Employee Count :- {{empCount}}
  </h1>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <h1>
    <app-demo></app-demo>
  </h1>
  <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
   <app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>

{{data.name}}   {{data.dept}}
<h1> Current date & Time: {{currentTime()}}</h1>
<img [src]="imageUrl"  alt="alternate text"> 

<div [innerHTML]="test"></div> -->
<!-- <app-ngfor></app-ngfor>
<app-ng-if></app-ng-if> -->
<!-- <app-style></app-style>

<app-ng-class></app-ng-class> -->

<!-- <app-style-ass></app-style-ass> -->

<!-- <app-gn-switch></app-gn-switch>
  
<app-ng-switch1></app-ng-switch1> -->
<!-- 
<app-class-ass></app-class-ass>
<app-templateform></app-templateform> -->

<!-- <app-reactive-form></app-reactive-form>  -->

<!-- <usertable></usertable>
 <app-usertable></app-usertable> -->

<!-- <app-react-assign></app-react-assign>  -->

<!-- <app-reactive-assi2></app-reactive-assi2> -->

<!-- <app-template-ass></app-template-ass> -->
<!-- <app-pipe1></app-pipe1> -->
<!-- <app-product-filter></app-product-filter>   -->

<!-- <p  appCustom> Normal paragraph </p> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>  -->
<!-- <app-jason></app-jason> -->

<!-- <div class="row">
  <div class="col-md-6">
    <div>
      <app-component1></app-component1>
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <app-component2></app-component2>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <app-component3></app-component3>
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <app-component4></app-component4>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">
    <div>
      <app-comp1></app-comp1>
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <app-comp2></app-comp2>
    </div>
  </div>
</div> -->
 
<!-- <appCustom></appCustom> -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-tem"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-tem"><a routerLinkActive="active" routerLink="/aboutUs" class="nav-link">AboutUs</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/contactUs" class="nav-link">contactUs</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/productNew" class="nav-link">product</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/post" class="nav-link">Post</a></li>
      <!-- <li class="nav-tem"><a routerLinkActive="active"  routerLink="/postdetails" class="nav-link">PostDetails</a></li> -->
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/users" class="nav-link">User</a></li>
      <!-- <li class="nav-tem"><a routerLinkActive="active"  routerLink="/userdetails" class="nav-link">userDetails</a></li> -->
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/order" class="nav-link">Order</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/customer" class="nav-link">customer</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/admin" class="nav-link">Admin</a></li>
      <!-- <li class="nav-tem"><a routerLinkActive="active"  routerLink="/logo" class="nav-link">Logo</a></li> -->
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/todo" class="nav-link">Todo</a></li>
      <li class="nav-tem"><a routerLinkActive="active"  routerLink="/wiki" class="nav-link">WikiPedia</a></li>
     
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<!--.......................... get the data from API -->
<!-- <div>
  <table class="table">
    <thead>
      <tr>
         <th>siteId</th>
        <th>supportPhoneNumber</th>
         <th>TPID</th>
        <th>EAPID</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of financeData.ingredients

      ">
        <td>{{data}}</td>
        
      </tr>
    </tbody>
  </table>
</div> -->
<!-- </div> -->
